<section class="jumbotron">
     <div class="col center"></div>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center">
     <img class="img-responsive align-center display-flex " src="Bill1.png" alt="Chania" width="600" height="200">
    <hr />
     </div>
    </section>
    <div class="col text-center">
  <button type="button" class="btn btn-primary bg-dark" data-toggle="modal" data-target=".bd-example-modal-xl">Sign Up</button>
<button type="button" class="btn btn-primary bg-dark" data-toggle="modal" data-target=".bd-example-modal-lg">Login</button>
</div>
<span class="badge rounded-pill bg-light text-dark">
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="col-md-6">
    <h2>Sign Up</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">First | Last Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary bg-dark" type="submit">signup</button>
      </div>
    </form>
    </div>
    </div>
  </div>
</div>
</span>
<!-- Large modal -->

<span class="badge rounded-pill bg-light text-dark">
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>
<form class="form login-form">
      <div class="form-group mb-2">
        <label for="email-login" class="login-label">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="login-label">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div> 
      <div class="form-group my-2">
        <button class="btn btn-primary bg-dark" type="submit">login</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>
 </span>
 </main>
<footer>
       <div class="col text-center">
      <div class="clearfix">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">An easy way to split costs</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quidem tempora earum officia. Nihil, provident eveniet asperiores impedit non aliquid? Expedita adipisci est cupiditate blanditiis ab quia minima? Cumque, odio.</p>
  </div>
</div>
</div>
    </footer>

{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
<<<<<<< HEAD
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>
=======
</div> --}}
<script src="./js/login.js"></script>
<script src="./js/signup.js"></script> 
>>>>>>> main
